@charset "utf-8";
/* CSS Document */

.footer {
	color: #fff;
	background-color: #0d263c;
	padding: 68px 0 0 0;
}

@media screen and (max-width: 63.9375em), screen and (min-width: 75em) {
	.footer .show-for-large {
		display: inherit !important;
	}

	.footer .hide-for-large {
		display: none !important;
	}
}

@media screen and (max-width: 39.9375em) {
	.footer .hide-for-large {
		display: inherit !important;
	}

	.footer .show-for-large {
		display: none !important;
	}
}

@media screen and (max-width: 64em) {
	.footer {
		padding-top: 24px;
	}
}

.footer .columns.nopadding {
	padding: 0px;
}

.footer .backtotop-row,
.footer .footer-copyright {
	max-width: 1244px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 22px;
	padding-right: 22px;
}

.footer .backtotop-row::before, .footer .backtotop-row::after,
.footer .footer-copyright::before,
.footer .footer-copyright::after {
	content: ' ';
	display: table;
}

.footer .backtotop-row::after,
.footer .footer-copyright::after {
	clear: both;
}

.footer .footer-backTop {
	border-bottom: 1px solid #ffffff;
	padding-bottom: 8px;
	margin-bottom: 70px;
}

.footer .footer-backTop > .backTop-link {
	display: inline-block;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	border: 2px solid #0d263c;
	text-align: center;
}

.footer .footer-backTop > .backTop-link:hover {
	border: 2px solid #fff;
}

@media only screen and (max-width: 64.063em) {
	.footer .footer-backTop {
		margin: 0 0 40px;
	}

	.footer .footer-backTop .backTop-icon.fr-text {
		margin-right: -9px;
	}

	.footer .footer-backTop .backTop-icon {
		margin-right: -14px;
	}
}

.footer .tab-row {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.footer .tab-row::before, .footer .tab-row::after {
	content: ' ';
	display: table;
}

.footer .tab-row::after {
	clear: both;
}

.footer .tab-row .footer-tabs {
	background-color: #0d263c;
}

.footer .tab-row .footer-tabs .tab-header, .footer .tab-row .footer-tabs .footer-tab-list {
	margin-left: 25%;
}

.footer .tab-row .footer-tabs .tab-header {
	text-align: left;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 35px;
	font-family: "whitney_semiboldregular";
	line-height: normal;
}

.footer .tab-row .footer-tabs .footer-tab-list {
	list-style-type: none;
	margin-bottom: 20px;
}

.footer .tab-row .footer-tabs .footer-tab-list > li {
	margin-bottom: 24px;
}

.footer .tab-row .footer-tabs .footer-tab-list .footer-tab-item {
	color: #fff;
	font-size: 16px;
	font-family: "whitney_bookregular";
}

.footer .tab-row .footer-tabs .footer-tab-list .footer-tab-item:hover {
	text-decoration: underline;
}

.footer .tab-row .footer-tabs .footer-tab-list .footer-tab-item:visited {
	color: #fff;
}

.footer .tab-row .footer-accordion-menu, .footer .tab-row .accordion-submenu {
	background: none;
	border: none;
	margin: 0;
}

.footer .tab-row .footer-accordion-item {
	margin-left: 20px;
	margin-right: 20px;
}

.footer .tab-row .footer-accordion-item .menu-link {
	border-bottom: 1px solid #314659;
	padding: 20px 0px;
	border: none;
	font-size: 14px;
	color: #fff;
	border-bottom: 1px solid #314659;
	text-transform: uppercase;
	font-family: "whitney_semiboldregular";
}

.footer .tab-row .footer-accordion-item .menu-link:focus, .footer .tab-row .footer-accordion-item .menu-link:hover {
	background: none;
}

.footer .tab-row .footer-accordion-item .menu-link::before {
	border: none;
	content: "";
	background: url("http://investorsgroup.com/en/images/corp/svg/expandArrow.png") no-repeat;
	background-size: 16px;
	height: 16px;
	width: 16px;
	margin-top: 0px;
	right: 0px;
}

.footer .tab-row .footer-accordion-item.is-active > .menu-link::before {
	content: "";
	background-image: url("http://investorsgroup.com/en/images/corp/svg/collapseArrow.png");
	background-size: 16px;
}

.footer .tab-row .footer-accordion-item .accordion-submenu {
	padding: 4px 0 18px 0;
}

.footer .tab-row .footer-accordion-item .accordion-submenu li {
	list-style-type: none;
}

.footer .tab-row .footer-accordion-item .accordion-submenu:last-of-type {
	border-bottom: 1px solid #263c50;
}

.footer .tab-row .footer-accordion-item .submenu-link {
	display: block;
	border: none;
	font-size: 16px;
	color: #fff;
	padding: 16px;
	line-height: normal;
	font-family: "whitney_bookregular";
}

.footer .tab-row .footer-accordion-item .submenu-link:before {
	content: "\00a0";
	width: 18px;
	display: inline-block;
	border-left: 2px solid #0d263c;
}

.footer .tab-row .footer-accordion-item .submenu-link:hover {
	background: #314659;
}

.footer .tab-row .footer-accordion-item .submenu-link:hover:before {
	border-color: #fff;
}

.footer .social-media-row {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 36px;
	padding-bottom: 36px;
}

.footer .social-media-row::before, .footer .social-media-row::after {
	content: ' ';
	display: table;
}

.footer .social-media-row::after {
	clear: both;
}

@media only screen and (max-width: 64.063em) {
	.footer .social-media-row {
		padding-bottom: 14px;
	}
}

.footer .social-media-row .menu {
	width: 100%;
	display: table;
	table-layout: fixed;
}

.footer .social-media-row .social-media-link {
	display: inline-block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 2px solid #0d263c;
	text-align: center;
	padding: 0px;
	position: relative;
}

.footer .social-media-row .social-media-link > img {
	position: absolute;
	top: 25%;
	left: 25%;
}

.footer .social-media-row .social-media-link:hover {
	border: 2px solid #fff;
}

.footer .footer-copyright .dt-copyright-menu a,
.footer .footer-copyright .mb-copyright-menu a,
.footer .footer-copyright .menu-text {
	font-size: 12px;
	font-family: "whitney_bookregular";
	color: #acb7c0;
	font-weight: normal;
	line-height: 1.6;
	padding: 3px 18px;
}

.footer .footer-copyright .dt-copyright-menu a:hover,
.footer .footer-copyright .mb-copyright-menu a:hover {
	color: #fff;
	text-decoration: underline;
}

.footer .footer-copyright .dt-copyright-menu,
.footer .footer-copyright .mb-copyright-menu {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: normal;
	border-top: 1px solid #263c50;
}

.footer .footer-copyright .dt-copyright-menu li,
.footer .footer-copyright .mb-copyright-menu li {
	border-right: 1px solid #263c50;
}

.footer .footer-copyright .dt-copyright-menu li:last-child,
.footer .footer-copyright .mb-copyright-menu li:last-child {
	border-right: none;
}