@font-face {
	font-family: 'whitney_lightregular';
	src: url("./fonts/whitney-light-webfont.eot");
	src: url("./fonts/whitney-light-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/whitney-light-webfont.woff2") format("woff2"), url("./fonts/whitney-light-webfont.woff") format("woff"), url("./fonts/whitney-light-webfont.ttf") format("truetype"), url("./fonts/whitney-light-webfont.svg#whitney_lightregular") format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'whitney_bookregular';
	src: url("./fonts/whitney-book-webfont.eot");
	src: url("./fonts/whitney-book-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/whitney-book-webfont.woff2") format("woff2"), url("./fonts/whitney-book-webfont.woff") format("woff"), url("./fonts/whitney-book-webfont.ttf") format("truetype"), url("./fonts/whitney-book-webfont.svg#whitney_bookregular") format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'whitney_bookscregular';
	src: url("./fonts/whitney-booksc-webfont.eot");
	src: url("./fonts/whitney-booksc-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/whitney-booksc-webfont.woff2") format("woff2"), url("./fonts/whitney-booksc-webfont.woff") format("woff"), url("./fonts/whitney-booksc-webfont.ttf") format("truetype"), url("./fonts/whitney-booksc-webfont.svg#whitney_bookscregular") format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: "whitney_medium";
	src: url("./fonts/whitney-medium.eot");
	src: url("./fonts/whitney-medium.eot?#iefix") format("embedded-opentype"), url("./fonts/whitney-medium.woff") format("woff"), url("./fonts/whitney-medium.ttf") format("truetype"), url("./fonts/whitney-medium.svg#false") format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'whitney_scmedium';
	src: url("./fonts/whitney-mediumsc-webfont.eot");
	src: url("./fonts/whitney-mediumsc-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/whitney-mediumsc-webfont.woff2") format("woff2"), url("./fonts/whitney-mediumsc-webfont.woff") format("woff"), url("./fonts/whitney-mediumsc-webfont.ttf") format("truetype"), url("./fonts/whitney-mediumsc-webfont.svg#whitney_scmedium") format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'whitney_semiboldregular';
	src: url("./fonts/whitney-semibold-webfont.eot");
	src: url("./fonts/whitney-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/whitney-semibold-webfont.woff2") format("woff2"), url("./fonts/whitney-semibold-webfont.woff") format("woff"), url("./fonts/whitney-semibold-webfont.ttf") format("truetype"), url("./fonts/whitney-semibold-webfont.svg#whitney_semiboldregular") format("svg");
	font-weight: normal;
	font-style: normal
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	font-style: normal;
	font-family: "whitney_bookregular";
	background-color: #faf7e6
}

body {
	font-size: 1.2rem;
	padding-top: 49px;
}

a, a:active, a:hover, a:visited {
	text-decoration: none;
	color: inherit
}

html, body {
	height: 100%
}

*, *:before, *:after {
	box-sizing: border-box
}

html, body {
	font-size: 100%
}

body {
	background: #fff;
	color: #222;
	cursor: auto;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	position: relative
}

a:hover {
	cursor: pointer
}

img {
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
	display: inline-block;
	vertical-align: middle;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}

.hide {
	display: none
}

.row {
	margin: 0 auto;
	max-width: 62.5rem;
	width: 100%;
}

.row:before, .row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

.row .row {
	margin: 0 -.9375rem;
	max-width: none;
	width: auto;
}

.row .row:before, .row .row:after {
	content: " ";
	display: table;
}

.row .row:after {
	clear: both;
}

.columns {
	padding-left: .9375rem;
	padding-right: .9375rem;
	width: 100%;
	float: left;
}

.columns + .columns:last-child {
	float: right;
}

@media only screen {
	.columns {
		position: relative;
		padding-left: .9375rem;
		padding-right: .9375rem;
		float: left;
	}

	.small-2 {
		width: 16.66667%;
	}

	.small-4 {
		width: 33.33333%;
	}

	.small-6 {
		width: 50%;
	}

	.small-10 {
		width: 83.33333%;
	}

	.small-12 {
		width: 100%;
	}

	.row.small-collapse > .columns {
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (min-width: 40.0625em) {
	.columns {
		position: relative;
		padding-left: .9375rem;
		padding-right: .9375rem;
		float: left;
	}

	.medium-4 {
		width: 33.33333%;
	}

	.medium-6 {
		width: 50%;
	}

	.medium-12 {
		width: 100%;
	}

	.columns.medium-centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
	}

	.columns.medium-centered:last-child {
		float: none
	}
}

@media only screen and (min-width: 64.0625em) {
	.columns {
		position: relative;
		padding-left: .9375rem;
		padding-right: .9375rem;
		float: left;
	}
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	border-style: solid;
	border-width: 0;
	cursor: pointer;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.25rem;
	position: relative;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 1rem 2rem 1.0625rem 2rem;
	font-size: 1rem;
	background-color: #008CBA;
	border-color: #007095;
	color: #fff;
	-webkit-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
}

button:hover, button:focus {
	background-color: #007095;
}

button:hover, button:focus {
	color: #fff;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

@media only screen and (min-width: 40.0625em) {
	button {
		display: inline-block;
	}
}

form {
	margin: 0 0 1rem;
}

label {
	color: #4d4d4d;
	cursor: pointer;
	display: block;
	font-size: .875rem;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 0;
}

input[type="search"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-family: inherit;
	font-size: .875rem;
	height: 2.3125rem;
	margin: 0 0 1rem 0;
	padding: .5rem;
	width: 100%;
	box-sizing: border-box;
	-webkit-transition: border-color .15s linear, background .15s linear;
	transition: border-color .15s linear, background .15s linear;
}

input[type="search"]:focus {
	background: #fafafa;
	border-color: #999;
	outline: none;
}

input[type="search"]:disabled {
	background-color: #ddd;
	cursor: default;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
	color: #666;
}

.top-bar {
	background: #333;
	height: 2.8125rem;
	line-height: 2.8125rem;
	margin-bottom: 0;
	overflow: hidden;
	position: relative;
}

.top-bar ul {
	list-style: none;
	margin-bottom: 0;
}

.top-bar .row {
	max-width: none;
}

.top-bar button {
	font-size: .75rem;
	margin-bottom: 0;
	padding-bottom: 0.4125rem;
	padding-top: 0.4125rem;
}

@media only screen and (max-width: 40em) {
	.top-bar button {
		position: relative;
		top: -1px;
	}
}

@media only screen and (min-width: 40.0625em) {
	.top-bar {
		background: #333;
		overflow: visible;
	}

	.top-bar:before, .top-bar:after {
		content: " ";
		display: table;
	}

	.top-bar:after {
		clear: both;
	}

	.top-bar button {
		font-size: .875rem;
		height: 1.75rem;
		position: relative;
		top: .53125rem;
	}
}

.text-center {
	text-align: center !important;
}

div, ul, li, h1, h3, form, p {
	margin: 0;
	padding: 0;
}

a {
	color: #008CBA;
	line-height: inherit;
	text-decoration: none;
}

a:hover, a:focus {
	color: #0078a0;
}

a img {
	border: none;
}

p {
	font-family: inherit;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.6;
	margin-bottom: 1.25rem;
	text-rendering: optimizeLegibility;
}

h1, h3 {
	color: #222;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 1.4;
	margin-bottom: .5rem;
	margin-top: .2rem;
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: 2.125rem;
}

h3 {
	font-size: 1.375rem;
}

em, i {
	font-style: italic;
	line-height: inherit;
}

ul {
	font-family: inherit;
	font-size: 1rem;
	line-height: 1.6;
	list-style-position: outside;
	margin-bottom: 1.25rem;
	margin-left: 1.1rem;
}

ul li ul {
	margin-left: 1.25rem;
	margin-bottom: 0;
}

@media only screen and (min-width: 40.0625em) {
	h1, h3 {
		line-height: 1.4;
	}

	h1 {
		font-size: 2.75rem;
	}

	h3 {
		font-size: 1.6875rem;
	}
}

@media only screen {
	.show-for-small-only {
		display: inherit !important;
	}

	.hide-for-small-only {
		display: none !important;
	}
}

@media only screen and (min-width: 40.0625em) {
	.hide-for-small-only {
		display: inherit !important;
	}

	.show-for-small-only {
		display: none !important;
	}
}

@media only screen and (min-width: 64.0625em) {
	.hide-for-small-only {
		display: inherit !important;
	}

	.show-for-small-only {
		display: none !important;
	}
}

@media only screen and (min-width: 90.0625em) {
	.hide-for-small-only {
		display: inherit !important;
	}

	.show-for-small-only {
		display: none !important;
	}
}

@media only screen and (min-width: 120.0625em) {
	.hide-for-small-only {
		display: inherit !important;
	}

	.show-for-small-only {
		display: none !important;
	}
}

.show-for-sr {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}

* {
	box-sizing: border-box;
}

sup {
	font-size: .5em;
	display: inline-block;
	line-height: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a, a:active, a:hover, a:visited {
	text-decoration: none;
	color: inherit;
}

.section {
	padding: 15px 8.2%;
	overflow: hidden;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
	.section {
		padding: 9vmin;
	}
}

h3 {
	font-style: normal;
	font-family: "whitney_bookscregular";
	font-weight: 400;
	font-size: 1.6rem;
	text-transform: lowercase;
	padding: 0 0 0.3em;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
	h3 {
		font-size: 1.45rem;
		line-height: 0.95;
		margin-bottom: 0.9em;
	}
}

.outline-btn, .underline-link {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000px;
	perspective: 1000px;
}

button {
	padding: 0;
	margin: 0;
	background: transparent;
}

button:hover {
	background-color: transparent;
}

@media print {
	.wpr {
		display: none;
	}
}

.outline-btn {
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 100%;
	z-index: 0;
	background: #0ed59a;
	border: 3px solid #0ed59a;
	border-radius: 5px;
	padding: calc(6px - 0.3em) 6px 6px 6px;
	font-style: normal;
	font-family: "whitney_scmedium";
	font-weight: 500;
	font-size: 2.4rem;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	color: #0c273c;
	-webkit-transition: color .3s;
	transition: color .3s
}

.outline-btn:hover {
	color: #fff
}

.outline-btn:hover:before {
	bottom: 100%;
	-webkit-transition-delay: .15s;
	transition-delay: .15s;
	z-index: -2
}

.outline-btn:hover:after {
	bottom: 0;
	z-index: -1
}

.outline-btn:before, .outline-btn:after {
	display: block;
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	z-index: -1;
	-webkit-transition: bottom .15s ease, background .15s ease .1s;
	transition: bottom .15s ease, background .15s ease .1s
}

.outline-btn:before {
	bottom: 0;
	top: 0;
	z-index: -1
}

.outline-btn:after {
	bottom: 100%;
	top: 0;
	background: #0ed59a;
	z-index: -2;
	-webkit-transition-delay: .15s;
	transition-delay: .15s
}

@media only screen and (min-width: 1440px) {
	.outline-btn {
		text-align: center;
		width: 180px;
		font-size: 1.8rem
	}
}

.searchbox input::placeholder {
	color: rgba(0, 0, 0, 0.3)
}

.footer .searchbox input::placeholder {
	color: #fff
}

[data-lang=fr] .searchbox input::placeholder {
	font-size: 0.75em;
	line-height: 1.5
}

.underline-link {
	cursor: pointer;
	display: inline-block;
	margin: 0 0 10px 0;
	line-height: 1.3;
	position: relative;
	text-transform: lowercase;
	font-style: normal;
	font-family: "whitney_scmedium";
	font-weight: 500;
	color: #0c273c;
	font-size: 18px
}

.underline-link:before {
	display: block;
	position: absolute;
	content: ' ';
	left: 0;
	right: calc(100% - 20px);
	height: 2px;
	top: 100%;
	background-color: #0ed59a;
	-webkit-transition: right .15s ease-out .15s, left .15s ease-out 0s;
	transition: right .15s ease-out .15s, left .15s ease-out 0s
}

.underline-link:hover:before {
	left: calc(100% - 20px);
	right: 0;
	-webkit-transition: right .15s ease-out .15s, left .15s ease-out .3s;
	transition: right .15s ease-out .15s, left .15s ease-out .3s
}

*, *:before, *:after {
	box-sizing: border-box
}

button, input {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
	text-transform: none;
	cursor: pointer;
	-moz-appearance: none;
	line-height: 1;
	padding: 0;
	background: transparent none repeat scroll 0 0;
	border: 0 none;
	border-radius: 0
}

[type="submit"], [type="button"] {
	-moz-appearance: none;
	border-radius: 0
}

input:focus::-webkit-input-placeholder {
	color: transparent
}

input:focus:-moz-placeholder {
	color: transparent
}

input:focus::-moz-placeholder {
	color: transparent
}

input:focus:-ms-input-placeholder {
	color: transparent
}

@font-face {
	font-family: 'whitney_lightregular';
	src: url("./fonts/whitney-light-webfont.eot");
	src: url("./fonts/whitney-light-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/whitney-light-webfont.woff2") format("woff2"), url("./fonts/whitney-light-webfont.woff") format("woff"), url("./fonts/whitney-light-webfont.ttf") format("truetype"), url("./fonts/whitney-light-webfont.svg#whitney_lightregular") format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'whitney_bookregular';
	src: url("./fonts/whitney-book-webfont.eot");
	src: url("./fonts/whitney-book-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/whitney-book-webfont.woff2") format("woff2"), url("./fonts/whitney-book-webfont.woff") format("woff"), url("./fonts/whitney-book-webfont.ttf") format("truetype"), url("./fonts/whitney-book-webfont.svg#whitney_bookregular") format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'whitney_bookscregular';
	src: url("./fonts/whitney-booksc-webfont.eot");
	src: url("./fonts/whitney-booksc-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/whitney-booksc-webfont.woff2") format("woff2"), url("./fonts/whitney-booksc-webfont.woff") format("woff"), url("./fonts/whitney-booksc-webfont.ttf") format("truetype"), url("./fonts/whitney-booksc-webfont.svg#whitney_bookscregular") format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: "whitney_medium";
	src: url("./fonts/whitney-medium.eot");
	src: url("./fonts/whitney-medium.eot?#iefix") format("embedded-opentype"), url("./fonts/whitney-medium.woff") format("woff"), url("./fonts/whitney-medium.ttf") format("truetype"), url("./fonts/whitney-medium.svg#false") format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'whitney_scmedium';
	src: url("./fonts/whitney-mediumsc-webfont.eot");
	src: url("./fonts/whitney-mediumsc-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/whitney-mediumsc-webfont.woff2") format("woff2"), url("./fonts/whitney-mediumsc-webfont.woff") format("woff"), url("./fonts/whitney-mediumsc-webfont.ttf") format("truetype"), url("./fonts/whitney-mediumsc-webfont.svg#whitney_scmedium") format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'whitney_semiboldregular';
	src: url("./fonts/whitney-semibold-webfont.eot");
	src: url("./fonts/whitney-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/whitney-semibold-webfont.woff2") format("woff2"), url("./fonts/whitney-semibold-webfont.woff") format("woff"), url("./fonts/whitney-semibold-webfont.ttf") format("truetype"), url("./fonts/whitney-semibold-webfont.svg#whitney_semiboldregular") format("svg");
	font-weight: normal;
	font-style: normal
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	font-style: normal;
	font-family: "whitney_bookregular"
}

body {
	font-size: 1.2rem
}

.contact .container .search-ui .search-ui--location input::placeholder {
	font-size: 1.8rem;
	font-style: normal;
	font-family: "whitney_scmedium";
	font-weight: 500;
	text-transform: lowercase;
	color: rgba(0, 0, 0, 0.7)
}

.contact .container .search-ui .search-ui--name .itf_name_wrap .itf_name::placeholder {
	font-size: 1.8rem;
	font-style: normal;
	font-family: "whitney_scmedium";
	font-weight: 500;
	text-transform: lowercase;
	color: rgba(0, 0, 0, 0.7)
}

@media print {
	@page {
		size: auto;
		margin: 5mm 10mm 5mm 10mm
	}
}

.intro-l2.section {
	height: 600px;
	background-color: #a5b7da;
	position: relative;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: cover
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
	.intro-l2.section {
		height: 100vh;
		min-height: 0;
		max-height: 480px
	}
}

.intro-l2.section .copy-wrap {
	text-align: center;
	top: 45%;
	position: relative;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)
}

.intro-l2.section .copy-wrap .sub {
	display: inline-block;
	width: 65%;
	font-style: normal;
	font-family: "whitney_lightregular";
	font-weight: 300;
	font-size: 6rem;
	line-height: 1
}

@media only screen and (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2) {
	.intro-l2.section .copy-wrap .sub {
		font-size: 3.5rem
	}
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
	.intro-l2.section .copy-wrap {
		position: absolute;
		width: 100%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%)
	}

	.intro-l2.section .copy-wrap .sub {
		font-size: 2.6rem;
		line-height: 1.2
	}
}

.area-l2.section {
	padding: 5.65em 8.2%;
	background-color: #faf7e6
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
	.area-l2.section {
		padding: 6vmin
	}
}

.video-container {
	width: 100%;
	max-width: 768px;
	position: relative;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 0;
}

.video-container-responsive {
	margin: auto;
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	width: 100%;
	z-index: 1;
}

.BrightcoveExperience {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 413px) {
	.video-container {
		width: 85%;
		position: absolute;
		top: inherit;
		bottom: 5%;
	}

	.area-l2.section {
		padding: 5.65em 8.2%;
	}

	body[data-lang=fr] .video-container {
		width: 65%;
		position: absolute;
		top: inherit;
		bottom: 5%;
	}
}

@media only screen and (max-width: 767px) {
	.video-container {
		width: 70%;
	}
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
	.video-container {
		width: 100%;
	}
}

@media only screen and (min-width: 414px) and (max-width: 767px) {
	.intro-l2.section {
		height: 525px;
		min-height: 0;
		max-height: 525px;
	}
}

@media only screen and (min-width: 414px) and (max-width: 414px) {
	.video-container {
		width: 100%;
	}

	body[data-lang=fr] .video-container {
		width: 90%;
	}
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0
}

.slick-list:focus {
	outline: none
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand
}

.slick-slider .slick-track, .slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block
}

.slick-track:before, .slick-track:after {
	content: "";
	display: table
}

.slick-track:after {
	clear: both
}

.slick-loading .slick-track {
	visibility: hidden
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none
}

[dir="rtl"] .slick-slide {
	float: right
}

.slick-slide img {
	display: block
}

.slick-slide.slick-loading img {
	display: none
}

.slick-slide.dragging img {
	pointer-events: none
}

.slick-initialized .slick-slide {
	display: block
}

.slick-loading .slick-slide {
	visibility: hidden
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent
}

.slick-arrow.slick-hidden {
	display: none
}