$rate-cell-width: 24;

@mixin foundation-small {
    @media only screen
    and (min-width: 0px) and (max-width: 640px) {
        @content;
    }
}

@mixin typography-small {
    @media only screen
    and (min-width: 0px) and (max-width: 767px) {
        @content;
    }
}

@mixin typography-medium {
    @media only screen
    and (min-width: 768px) and (max-width: 959px) {
        @content;
    }
}

@mixin typography-medium-up {
    @media only screen
    and (min-width: 960px) {
        @content;
    }
}

@mixin foundation-medium-up {
    @media only screen
    and (min-width: 640px) {
        @content;
    }
}

@mixin foundation-small-to-typography-medium {
    @media only screen
    and (min-width: 641px) and (max-width: 959px) {
        @content;
    }
}

@mixin typography-small-and-medium {
    @media only screen
    and (min-width: 0px) and (max-width: 959px) {
        @content;
    }
}

@mixin rate-grid-sized($cells) {
    &.rate-grid-#{$cells} {
        max-width: #{$rate-cell-width*$cells}rem;
        @extend .rate-grid;
        + [class*="rate-grid-"] {
            margin-top: 3.8rem;

            @include foundation-small {
                margin-top: 7.4rem;

                > div:first-child::before {
                    border-top: 2px solid #c1cbd0;
                    content: "";
                    left: 19%;
                    position: absolute;
                    top: -29px;
                    width: 62%;
                }
            }
        }
    }
}

body[data-areaid=mortgage], body[data-areaid=mortgage-rates], body[data-areaid=mortgage-all-in-one], body[data-areaid=mortgage-faq] {
    .header.section {
        position: static;
    }
}

body.IGv2 {
    .span-wrap {
        span {
            white-space: nowrap;
        }
    }

    .span-breaks {
        span {
            display: block;

            @include foundation-small {
                display: inline;
            }
        }
    }

    .span-breaks-small {
        @include foundation-small {
            span {
                display: block;
            }
        }
    }

    .span-breaks-medium {
        @include foundation-small-to-typography-medium {
            span {
                display: block;
            }
        }
    }

    .outline-btn {
        border-width: 2px;
        font-size: 1.5rem;
        line-height: 1.3;
        letter-spacing: 1px;
        padding-top: 6px;
        padding-bottom: 7px;
        white-space: nowrap;
    }

    h2 {
        text-transform: none;
    }

    h3 {
        margin-bottom: 4rem;
        text-align: center;

        @include foundation-small {
            margin-bottom: 3.3rem;
        }
    }

    [dynamic-rate] {
        &::before {
            content: " \00A7 ";
            animation: 2s linear 0s normal none infinite running spin;
            display: inline-block;
        }
    }

    .small-screen-horizontal-divider {
        @include foundation-small {
            margin-top: 10.2rem;

            &::before {
                border-top: 2px solid #c1cbd0;
                top: -5.2rem;
                content: "";
                left: 19%;
                position: absolute;
                width: 62%;
            }
        }
    }

    &[data-areaId=mortgage-rates] {
        .intro-l2.section {
            .copy-wrap {
                .sub {
                    width: 100%;
                }
            }
        }
    }

    &[data-areaId=mortgage-all-in-one] {
        .intro-l2.section {
            .headline {
                width: 100%;
            }

            @include foundation-small {
                padding-left: 0;
                padding-right: 0;

                .headline {
                    + .headline {
                        margin-top: 0;
                    }
                }
            }

            .copy-wrap {
                top: 48%;
            }

            + .area-l2.section {
                @include foundation-small {
                    padding-top: 6.6rem;
                    padding-bottom: 4rem;
                }

                + .area-l2.section {
                    padding-top: 4.4rem;

                    .rate-grid-1 {
                        margin-top: 2.2rem;
                    }
                }
            }
        }

        .area-l2.section {
            @include foundation-small {
                padding-bottom: 4rem;
            }

            + .area-l2.section {
                @include foundation-small {
                    padding-top: 2rem;

                    &.small-screen-horizontal-divider {
                        padding-top: 5.8rem;
                        margin-top: 0;

                        &::before {
                            left: 10%;
                            margin-top: -5rem;
                            position: absolute;
                            width: 80%;
                            top: auto;
                        }
                    }
                }
            }
        }
    }

    &[data-areaId=mortgage-faq] {
        .area-l2.section {
            @include foundation-small {
                padding-top: 5rem;
                padding-bottom: 5rem;

                .row.separators {
                    > div.columns + div.columns {
                        margin-top: 7rem;

                        &::before {
                            top: -3.5rem;
                        }
                    }
                }

                .span-breaks span {
                    display: block;
                }
            }
        }
    }

    .intro-l2.section {
        height: 49.3rem;
        background-size: auto auto;
        background-position: 47% 100%;
        border-top: 1px solid #d5d6d6;

        @include typography-small {
            height: 30rem;
            background-size: cover;
            background-position: 39% 100%;
        }

        .copy-wrap {
            top: 38.5%;

            @include typography-small {
                top: 40%;
            }
        }

        .headline {
            margin-bottom: 4.6rem;

            @include typography-small {
                font-size: 2.75rem;
                margin-bottom: 1rem;
            }

            + .headline {
                margin-top: -2rem;
            }
        }

        .sub {
            font-size: 5rem;

            @include typography-small {
                font-size: 2.1rem;
            }
        }

        .morebtn {
            bottom: 33px;
        }
    }

    .area-l2.section {
        padding: 4.8rem 9.3% 7.2rem;

        @include foundation-small {
            padding-top: 6.8rem;
        }

        &:nth-of-type(even) {
            background-color: #f1f7f7;
        }

        @include foundation-small {
            text-align: center;
            padding-bottom: 4.4em;
            padding-bottom: 6.666em;
        }

        .row {
            &:not(.width-limited) {
                max-width: none;
            }

            &.width-limited-medium {
                max-width: 75rem;
            }

            &.separators {
                > div.columns + div.columns {
                    &::before {
                        border-left: 2px solid #c1cbd0;
                        content: "";
                        height: 100%;
                        left: 0;
                        position: absolute;
                        top: 0;

                        @include foundation-small {
                            border-top: 2px solid #c1cbd0;
                            border-left: none;
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }

            &.rate-grid {
                margin-top: 1.5rem;
                display: flex;

                &.foundation-sizing {
                    max-width: none;
                }

                @include foundation-small {
                    display: block;
                    margin-top: 1rem;
                }

                > div.columns {
                    padding-top: 2.3rem;
                    padding-bottom: 2.3rem;

                    @include foundation-small {
                        padding-bottom: 4.4rem;

                        + div.columns {
                            padding-top: 5.3rem;

                            &::before {
                                border-top: 2px solid #c1cbd0;
                                top: 1px;
                                content: "";
                                left: 19%;
                                position: absolute;
                                width: 62%;
                            }
                        }

                        &:last-child {
                            padding-bottom: 0;
                        }
                    }

                    + .columns {
                        &::before {
                            border-left: 2px solid #c1cbd0;
                            left: 1px;
                            content: "";
                            position: absolute;
                            height: 100%;
                            top: 0;

                            @include foundation-small {
                                border-left: none;
                            }
                        }
                    }

                    p {
                        margin: 0 0 1.4rem;

                        @include foundation-small {
                            &.tp_02a {
                                font-size: 3.6rem;
                                white-space: nowrap;
                                margin: 0;
                            }
                        }

                        &.subnote {
                            line-height: 3rem;

                            sup {
                                display: block;
                                position: relative;
                                top: 1rem;

                                @include foundation-small {
                                    top: 0;
                                }
                            }
                        }

                        + p {
                            padding-top: 1.8rem;
                            margin-bottom: -3px;
                            position: relative;

                            &::before {
                                border-top: 1px solid #c1cbd0;
                                top: 0px;
                                content: "";
                                left: 11%;
                                position: absolute;
                                width: 78%;
                            }

                            @include foundation-small {
                                padding-top: 0;
                                font-size: 1.6rem;

                                &::before {
                                    border-top: none;
                                }
                            }

                            + p {
                                padding-top: 2.1rem;

                                @include foundation-small {
                                    padding-top: 0;
                                }
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }

                        &.span-wrap {
                            span {
                                position: relative;
                                top: -1rem;

                                @include foundation-small {
                                    top: 0;
                                }
                            }
                        }
                    }
                }
            }

            .outline-btn {
                margin-top: 7rem;

                @include foundation-small {
                    margin-top: 5rem;
                }
            }

            @include rate-grid-sized(1);
            @include rate-grid-sized(2);
            @include rate-grid-sized(3);
            @include rate-grid-sized(4);
            @include rate-grid-sized(5);

            .rate-grid-1 {
                @include foundation-small {
                    display: inline-block;
                }

                > div.columns {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }

            &.rate-grid-2 {
                &.rate-grid-wide {
                    max-width: 72rem;
                }
            }
        }

        .banner {
            margin-top: 3.8em;
            margin-bottom: 6.8rem;
            width: 100%;

            @include foundation-small {
                margin-top: 1em;
                margin-bottom: 0;
            }

            .header {
                line-height: 3.6rem;
                padding: 0;
                display: block;

                .wrap {
                    margin-top: 0.3rem;
                    padding: 0;
                    left: -0.8rem;
                    position: relative;

                    @media only screen and (min-width: #{$tablet-lg-width-min + 1px}) and (max-width: 1280px) {
                        left: -3rem;
                    }

                    @include foundation-small {
                        left: 0;
                        margin-bottom: 3rem;
                    }

                    .illustration {
                        @include typography-small {
                            width: 80%;
                        }

                        @include foundation-small {
                            max-width: 14rem;
                            width: 53.5%;
                        }

                        &[data-illustrationid=HL--mortgage-rates] {
                            background-image: url("../images/L2-highlights/HL--mortgage-rates.png");
                        }

                        &[data-illustrationid=HL--mortgage-all-in-one] {
                            background-image: url("../images/L2-highlights/HL--mortgage-all-in-one.png");
                        }
                    }
                }

                p {
                    font-family: $WL;
                    line-height: 4rem;
                    margin: 0;

                    @media only screen and (max-width: 959px) {
                        line-height: 2.6rem;
                    }
                }

                h2 {
                    text-transform: none;
                    line-height: 7.2rem;
                    margin-bottom: 2.5rem;

                    @media only screen and (max-width: 959px) {
                        line-height: 3.8rem;
                    }

                    @include foundation-small {
                        line-height: 3.4rem;
                        font-size: 2.4rem;
                        font-family: $WBK;
                        letter-spacing: 1px;
                        margin-bottom: 0;
                    }
                }
            }
        }

        .outline-btn {
            min-width: 0px;
        }

        .highlights {
            display: flex;
            margin-bottom: 0;

            @include typography-small {
                display: block;
                padding-left: 10%;
                padding-right: 10%;
            }

            li {
                padding-bottom: 42px;
                position: relative;
                margin-top: 3rem;

                @include typography-small {
                    > * {
                        text-align: center;
                    }
                }

                .underline-link {
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    @include typography-small {
                        position: static;
                        margin-top: .2em;
                    }
                }

                + li {
                    .underline-link {
                        left: 1.33333rem;
                    }

                    @include typography-small {
                        margin-top: 5.7rem;
                    }
                }

                &:last-child {
                    .underline-link {
                        left: 2.66667rem;
                    }
                }

                .illustration {
                    margin: 1.5em auto 5.7em;

                    @include typography-small {
                        position: static;
                        width: 65%;
                        margin-bottom: 1.5em;
                    }
                }

                .tp_03a {
                    font-size: 2.4rem;
                }

                .header {
                    margin-bottom: 0.9em;
                }
            }
        }

        &.mortgage-section__tips--wpr, &.carousel {
            width: 100%;
            margin: 0 auto;

            .row {
                max-width: 70rem;

                @include typography-small {
                    position: relative;
                    top: 0.5rem;
                }

                .js-slick-wrap {
                    margin-bottom: .7rem;

                    .carousel-prev {
                        left: -15%;

                        @include typography-small {
                            top: 30%;
                        }
                    }

                    .carousel-next {
                        right: -15%;

                        @include typography-small {
                            top: 30%;
                        }
                    }

                    ul.slick-dots {
                        width: auto;
                        margin-top: 6.5em;

                        @include typography-small {
                            margin-top: .8em;
                        }

                        li {
                            width: auto;
                            padding: 0;
                            margin: 0;
                            display: inline-block;

                            button {
                                margin: 0 .6rem;
                                width: 1.4rem;
                                height: 1.4rem;
                            }
                        }
                    }
                }
            }
        }

        &.contact {
            padding-top: 3.6em;

            @include typography-small {
                padding-top: 5.65em;
            }

            .row {
                + .row:not(:last-child) {
                    .columns {
                        padding: 0;
                    }
                }

                p {
                    padding: 0 4% 5rem;

                    @include typography-small {
                        padding: 0 0 2.5rem;
                        font-size: 1.6rem;
                        line-height: 2.6rem;
                    }
                }
            }

            .outline-btn {
                margin-top: 0;
            }
        }

        &.reveal {
            padding-top: 6rem;
            padding-bottom: 0;
            background: #fff;

            @include foundation-small {
                padding-top: 2.2em;
            }

            @include typography-small {
                padding-bottom: 0.6rem;
            }

            &.active {
                h3 {
                    display: none;

                    + h3 {
                        display: block;
                    }
                }
            }

            h3 {
                cursor: pointer;

                + h3 {
                    display: none;
                }
            }

            .reveal-content {
                transition: height .5s ease 0s;
                overflow: hidden;
                text-align: left;
            }

            div.arrow {
                margin-left: 1rem;
                border-bottom: 1px solid #000000;
                border-left: 1px solid #000000;
                display: inline-block;
                height: 10px;
                position: relative;
                top: -2px;
                transform: rotate(-45deg);
                width: 10px;
                position: relative;
                left: 10px;
                cursor: pointer;

                &.inverse {
                    transform: rotate(135deg);
                    top: 2px;
                }
            }
        }

        &.article-2-col {
            background-color: #f1f7f7;
            position: relative;

            @include foundation-small {
                padding-left: 8.3%;
                padding-right: 8.3%;
                padding-bottom: 1.7rem;
                margin-top: -7.2rem;
                overflow: visible;

                > div.row:last-child > div.columns:last-child::after {
                    border-top: 2px solid #c1cbd0;
                    content: "";
                    left: 0%;
                    position: absolute;
                    bottom: -5.2rem;
                    width: 100%;
                }
            }

            .rate-grid-5 {
                max-width: 1200px;
                display: flex;

                @include typography-small-and-medium {
                    display: none;
                }

                @include foundation-small {
                    display: none;
                }

                > div:not([aria-hidden=true]):first-child::before {
                    left: 0%;
                    top: -19px;
                    width: 100%;
                }

                + .rate-grid-5 {
                    margin-top: 0;

                    @include typography-small-and-medium {
                        display: block;

                        > div.columns {
                            width: 100%;
                        }
                    }
                }
            }

            > div.row.rate-grid-5 > .columns {
                padding: 2.2rem 0 0 0;

                @include typography-medium-up {
                    .screen-reader-medium-up {
                        position: absolute;
                        left: -99999px;
                    }
                }

                @include foundation-small-to-typography-medium {
                    margin-bottom: 5rem;
                }

                .tp_09a {
                    padding-top: 5.8rem;
                    padding-bottom: 2rem;

                    @include foundation-small-to-typography-medium {
                        padding-top: 1rem;
                        padding-bottom: 0;
                    }

                    @include foundation-small {
                        padding-top: 0;
                        padding-bottom: 4rem;
                    }
                }

                + .columns {
                    > .row {
                        margin: 0 0 0 3rem;

                        @include foundation-small-to-typography-medium {
                            margin: 0;
                        }

                        @include foundation-small {
                            margin: 0;
                        }
                    }

                    .tp_09a {
                        padding-top: 1.2rem;

                        @include foundation-small-to-typography-medium {
                            padding-top: 1rem;
                            padding-bottom: 2rem;
                        }

                        @include foundation-small {
                            padding-top: 0;
                            padding-bottom: 4rem;
                        }
                    }

                    &::before {
                        @include foundation-small-to-typography-medium {
                            border: none;
                            content: none;
                        }

                        @include foundation-small {
                            left: 0%;
                            top: 8px;
                            width: 100%;
                        }
                    }

                    @include foundation-small {
                        margin-top: 4.2rem;
                    }
                }

                .rate-card {
                    height: 24.5rem;

                    @include foundation-small-to-typography-medium {
                        height: 20rem;
                    }

                    @include foundation-small {
                        height: auto;
                    }

                    .columns {
                        bottom: 0;
                        position: absolute;
                        left: -4%;

                        @include foundation-small {
                            width: 83.3333%;
                            position: relative;
                            left: 8.33333%;
                            right: auto;
                        }

                        @include foundation-small-to-typography-medium {
                            left: 0;
                        }
                    }
                }

                > .row {
                    margin: 0 2.2rem 0 0;

                    @include foundation-small {
                        margin: 0;
                    }

                    @include foundation-medium-up {
                        > .columns {
                            > .row {
                                padding-right: 1rem;
                                padding-left: 0;
                            }

                            + .columns {
                                > .row {
                                    padding-left: 2rem;
                                    padding-right: 0;

                                    &::before {
                                        border-left: 2px solid #c1cbd0;
                                        top: 0;
                                        content: "";
                                        left: 0;
                                        position: absolute;
                                        height: 100%;
                                    }

                                    &.rate-card {
                                        .columns {
                                            left: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:last-child:not(.rate-card) {
                        display: flex;

                        @include foundation-small {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .areas.section {
        padding-top: 13.5rem;

        @include foundation-small {
            padding-top: 6rem;
        }

        .accordion {
            border: medium none;
            box-shadow: none;
            padding: 0 8.3%;

            @include foundation-small {
                padding: 0;
            }

            > li {
                background-color: transparent;
                border-bottom: 1px solid #c1cbd0;
                padding: 0;
            }

            .line-item {
                .label {
                    width: 100%;

                    .icon {
                        background-image: url("../images/icons/info.png");
                    }
                }
            }

            .details {
                p {
                    width: auto;

                    &:first-child {
                        margin-top: 0;
                    }
                }

                a {
                    color: #008cba;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                ul {
                    font-size: 2.2rem;
                    list-style-type: disc;
                    list-style-position: outside;
                    margin-bottom: 4.8rem;
                    padding-left: 2rem;
                    margin-left: 0;
                    line-height: 0;
                }

                table {
                    margin: 0;
                }

                .scroll-wrap {
                    width: 100%;
                    overflow-x: auto;
                    margin-bottom: 4.8rem;
                }
            }
        }
    }

    .legal-content {
        ol {
            margin-bottom: 1.25rem;
            font-size: 1rem;
            font-weight: normal;
            line-height: 1.6;
            list-style: none;
            margin-left: 0;
            overflow: hidden;

            + ol {
                clear: both;
            }

            li {
                counter-increment: custom;

                &::before {
                    content: counter(custom) " ";
                    display: block;
                    float: left;
                    margin-right: 0.5rem;
                }

                &:first-child {
                    counter-reset: custom;
                }
            }

            &.lower-roman {
                font-weight: 700;
                margin-left: -1.4rem;

                li {
                    float: left;
                    margin-left: 1.4rem;

                    &::before {
                        content: counter(custom, lower-roman) " ";
                    }

                    &::after {
                        content: ",";
                    }

                    &:last-child {
                        &::after {
                            content: "";
                        }
                    }
                }
            }
        }
    }

    //overrides

    .no-section-stripe {
        background-color: #fff !important;
    }

    .odd-section-stripe {
        background-color: #faf7e6 !important;
    }

    .even-section-stripe {
        background-color: #f1f7f7 !important;
    }

    .bottom-gutter-extra-small {
        padding-bottom: 1rem !important;
    }

    .small-screen-bottom-gutter-extra-small {
        @include foundation-small {
            padding-bottom: 1rem !important;
        }
    }

    .bottom-gutter-small {
        padding-bottom: 2rem !important;
    }

    .small-screen-bottom-gutter-small {
        @include foundation-small {
            padding-bottom: 2rem !important;
        }
    }

    .bottom-gutter-medium {
        padding-bottom: 3.7rem !important;
    }

    .small-screen-bottom-gutter-medium {
        @include foundation-small {
            padding-bottom: 3.7rem !important;
        }
    }

    .bottom-gutter-large {
        padding-bottom: 6.7rem !important;
    }

    .bottom-gutter-extra-large {
        padding-bottom: 8rem !important;
    }

    .top-gutter-extra-small {
        padding-top: 1rem !important;
    }

    .top-gutter-small {
        padding-top: 2rem !important;
    }

    .small-screen-top-gutter-small {
        @include foundation-small {
            padding-top: 2rem !important;
        }
    }

    .top-gutter-medium {
        padding-top: 3.7rem !important;
    }

    .small-screen-top-gutter-medium {
        @include foundation-small {
            padding-top: 3.7rem !important;
        }
    }

    .no-small-screen-bottom-gutter {
        @include foundation-small {
            padding-bottom: 0rem !important;
        }
    }

    .no-top-gutter {
        padding-top: 0 !important;
    }

    .no-small-screen-top-gutter {
        @include foundation-small {
            padding-top: 0rem !important;
        }
    }

    .no-bottom-margin {
        margin-bottom: 0rem !important;
    }

    .no-small-screen-bottom-margin {
        @include foundation-small {
            margin-bottom: 0rem !important;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}